html, body {
  height: 100%;
  margin: 0;
  background-color: #cfcfcf;
}
a {
  color: #0366d6;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
p, div, pre {
  font-size: 200%;
}
x-slide > ul {
  font-size: 200%;
}
x-slider {
  display: flex;
  height: 98%;
  margin: 0;
  color: #cfcfcf;
}
x-slide {
  margin: 10px auto 30px;
  border-radius: 20px;
  box-shadow: 15px 15px 10px rgba(100,100,100,0.3);
  background-color: #f9f9f9;
  color: #1a0a0a;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  z-index: -1;
}
x-slide.active {
  z-index: 1;
  animation: fade-in 0.4s ease-in-out 0s;
}
time-progress {
  display: block;
  width: 80%;
  position: fixed;
  left:calc(50% - 80%/2);
  bottom: 1em;
}

@keyframes fade-in {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0;
  }
}
