html {
  height: 100%;
}
body, main {
  height: 100%;
  margin: 0;
}
main {
  display: flex;
  width: 300%; /** depends on count of slides **/
  margin: 0;
}
x-slide {
  flex-basis: 100%;
  border: 1px solid black;
}

