html, body {
  height: 100%;
  margin: 0;
  background-color: #cfcfcf;
  overflow: hidden;
}
a {
  color: #0366d6;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
p, div, pre {
  font-size: 200%;
}

img {
  height: 30%;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.capture img {
  height: 50%;
  width: 50%;
}
.capture-mid img {
  height: 40%;
  width: 40%;
}

x-slide > ul {
  font-size: 200%;
}
x-slider {
  display: flex;
  height: 98%;
  margin: 0;
  color: #cfcfcf;
}
x-slide {
  border-radius: 20px;
  box-shadow: 15px 15px 10px rgba(100,100,100,0.3);
  background-color: #f9f9f9;
  color: #1a0a0a;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80%;
  height: 90%;
  margin-left: 0%;
}
x-slide.active-from-left {
  animation: fade-in-left 0.4s ease-in-out 0s;
}
x-slide.active-from-right {
  animation: fade-in-right 0.4s ease-in-out 0s;
}
x-slide.right-out {
  margin-left: 100%;
  animation: fade-out-right 0.4s ease-in-out 0s;
}
x-slide.left-out {
  margin-left: -100%;
  animation: fade-out-left 0.4s ease-in-out 0s;
}
time-progress {
  display: block;
  width: 80%;
  position: fixed;
  left:calc(50% - 80%/2);
  bottom: 1em;
}

@keyframes fade-in-right {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}
@keyframes fade-in-left {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}
@keyframes fade-out-right {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}
@keyframes fade-out-left {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}
